<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock, Paper, Scissors</h1>

	<button id="resetGame">Reset Game</button>

	<section id="gameMode">
		<h2>Select Game Mode</h2>

		<select id="gameModeSelect">
			<option value="">
				Select Mode
			</option>

			<option value="human">
				Human Vs Computer
			</option>

			<option value="computer">
				Computer Vs Computer
			</option>
		</select>
	</section>

	<section id="humanGameBoard"
			 class="gameBoard"
			 style="display:none">
		<h2>Human Player</h2>

		<div id="humanOptions">
			<button id="rock">Rock</button>

			<button id="paper">Paper</button>

			<button id="scissors">Scissors</button>
		</div>

		<div>
			<h3 id="humanChoice"></h3>
		</div>
	</section>

	<section id="gameBoard1"
			 class="gameBoard"
			 style="display:none">
		<h2>Player One</h2>

		<div>
			<h3 id="playerOneChoice"></h3>
		</div>
	</section>

	<section id="gameBoard2"
			 class="gameBoard"
			 style="display:none">
		<h2>Player Two</h2>

		<div>
			<h3 id="playerTwoChoice"></h3>
		</div>
	</section>

	<section id="humanWon"
			 style="display: none">
		<h2>Human Won</h2>
	</section>
	<section id="playerOneWon"
			 style="display: none">
		<h2>Player One Won</h2>
	</section>
	<section id="playerTwoWon"
			 style="display: none">
		<h2>Player Two Won</h2>
	</section>
	<section id="draw"
			 style="display: none">
		<h2>Draw - No-One Won</h2>
	</section>
</body>
</html>
